<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Info Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


</head>
<body>
<div class="container" align="center">
    <form method="post">
        <h1> Welcome To Student Info Center</h1>
        {{form.as_p}}
        {%csrf_token%}
        <button type="button" class="btn btn-primary">Submit</button>



    </form>

    </div>


</body>
</html>